.footer__container{
    display:flex;
    /* flex-wrap: wrap; */
    background-color:#111827;
    color:#FFF;

    /* justify-content:flex-start; */
    /* align-items: center; */
    text-align: left;
    padding-top:2rem;
}

.footer__container .footer__item{
    
    display: flex;
    flex-direction: column;
    margin-left:2rem;
    justify-content:flex-start;
    align-items: flex-start;
    text-align: left;
    font-size:0.8rem;

}



.footer__container .footer__container-info{
    max-width: 13rem;
}
.footer__container .footer__item-links {

    max-width: 25rem;
}


.footer__container .footer__item a{
    color:#FFF;

    outline:none;
    text-decoration:none;
    font-size:0.7rem;
    padding:0.2rem 0.2rem 0.2rem 0;


}


.footer__container-info__logo{
    display: flex;
}

.footer__container-info__logo img{
    margin-right:0.3rem;
    object-fit: contain;
}







/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.footer__container .footer__item-links {

    min-width: 25rem;
}

.footer__container {

    flex-direction: column;
}

.footer__item{
    margin-bottom:2rem;

}


}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2200px) {
   
    .footer__container{
        /* min-height:70vh; */
        padding-left:30rem;
        min-width: 70vw;
        
    }

    .footer__container > *{
        margin-right: 12rem;
    }

}

