.widgets__container{
    margin-top:5rem;
    margin-bottom:5rem;
    display:flex;
    align-items:center;
    /* place-items: flex-start; */
    /* justify-content:flex-start;
    align-items:flex-start; */
    max-height:100vh;
}

.widgets__container-image{
    /* flex:1; */
    margin-right: 3rem;

}

.widgets__container-tab__text h2{
    margin-bottom: 3rem;
    font-weight:900;
    font-size:2rem;

}

.widgets__container-image img{
    width: 38rem;
    /* height: 300px; */
    object-fit: contain;
    box-shadow: 0px 0px 13.0435px rgba(0, 0, 0, 0.25);
}

.widgets__container-tab{
    flex:1;
    max-width: 15rem;
    text-align: left;
    margin-top:2rem;
}

.widgets__container-tab-icons{
    flex-flow: wrap;
    /* width: 100%; */
}
@media screen and (max-width:1050px) {

    .widgets__container{
        /* display:flex; */
        flex-direction:column
    }
 

    .widgets__container-tab{
        max-width: 25rem;
        text-align: left;
        margin-top:2rem;
    }
    
    .widgets__container-tab-icons{
        display:flex;
        flex-flow: wrap;
        flex-wrap: wrap;
        align-items:center;
        /* justify-content:center; */
        /* width: 100%; */
    }

    .widgets__container-tab-icons > *{
        margin-right:4rem;
        


    }

    

}