.widgets__container{
    /* margin-top:8rem; */
    margin-bottom:2rem;
    display:flex;
    align-items:center;
    /* place-items: flex-start; */
    /* justify-content:flex-start;
    align-items:flex-start; */
    min-height:100vh;

}

.widgets__container-image{
    /* flex:1; */
    margin-right: 3rem;

}

.widgets__container-tab__text h2{
    margin-bottom: 3rem;
    font-weight:900;
    font-size:2rem;

}

.widgets__container-image img{
    width: 38rem;
    /* height: 300px; */
    object-fit: contain;
    box-shadow: 0px 0px 13.0435px rgba(0, 0, 0, 0.25);
}

.widgets__container-tab{
    flex:1;
    max-width: 15rem;
    text-align: left;
    margin-top:2rem;
}

.widgets__container-tab-icons{
    flex-flow: wrap;
    /* width: 100%; */
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .widgets__container{
        margin-top:4.5rem;
    }
    .widgets__container-image {
        padding:2rem;
        margin-left:4rem;

        
        /* height:50%; */
        /* object-fit:contain; */
        /* margin:auto; */

    }
    .widgets__container-image img{
        max-width: 20rem;
        height:50%;
        /* object-fit:contain; */
        /* margin:auto; */

    }

    .widgets__container-tab{
        margin-left:1rem;

    }

   
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

@media screen and (max-width:1050px) {

    .widgets__container{
        /* display:flex; */
        flex-direction:column
    }
 

    .widgets__container-tab{
        max-width: 25rem;
        text-align: left;
        margin-top:2rem;
    }
    
    .widgets__container-tab-icons{
        display:flex;
        flex-flow: wrap;
        flex-wrap: wrap;
        align-items:center;
        /* justify-content:center; */
        /* width: 100%; */
    }

    .widgets__container-tab-icons > *{
        margin-right:4rem;
        


    }

    

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .widgets__container{
        min-height:70vh;
        margin-top:0;
        
    }

}

/* Extra large devices (large laptops and desktops, 2200px and up) */
@media only screen and (min-width: 2200px) {

    .widgets__container{
        min-height:70vh;
        margin-left:30rem;
        
    }

}

