.conversionstab__container{

    margin:0 0.5rem;
    background: #EEF1F7;
    border-radius: 10px;
    max-width: 20rem;
    min-height: 8rem;
    padding:1rem 0.5rem 0rem 1rem;

    text-align: left;
    font-size: 0.8rem;
    display:flex;
    flex-direction:column;


}


.conversionstab__container-image{
    display: flex;
    place-items: center;
    margin:0.8rem 0 0.8rem 0
}

.conversionstab__container-image img{
    margin-right:0.5rem;
}

.conversionstab__container-image p{
    font-weight: bold;
    font-size:0.9rem;
    margin:0;
    /* margin-bottom: 5rem; */
}

.conversionstab__container h3{
    font-size:1.3rem;
    margin-top:1rem;

}

.conversions__container-lowertext h3{
    font-size: 1.5rem;
    margin-top:2.5rem;
    /* margin:0; */
}

.conversions__container-lowertext p{

    margin-bottom:1rem;
    margin-bottom:0.5rem;
    /* margin:0; */

}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .conversionstab__container{
        flex-direction: column;
        
    }
    

   
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

@media screen and (max-width:1050px) {



}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

